.colElementA{
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 7%;
  color: #000000;
}

.itemA{
  background-color: #f8f8f8;
  color: white;
}

.botonCursosA{
  background-color: #c03939;
  width: 100%;
}

.headA{
  margin-top: 2.5%;
  color: #f8f9fb;
}

.columnaA{
  background-color: #f8f9fb;
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 5%;
  padding-bottom: 3%;
  margin-bottom: 3%;
}

.d-inline-block align-top{
  margin-top: 5%;
}