.colElement {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10%;
}

.updateItem {
  margin-bottom: 7.5%;
}

.updateItemR {
  margin-bottom: 4%;
}

.item{
  background-color: #212429;
  color: white;
}

.botonCursos {
  background-color: #c03939;
  width: 100%;
}

.subir {
  width: 100%;
}

.updateO {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}