.content{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.stats{
    margin-top: 5%;
    margin-bottom: 5%
}

.botones{
    margin-top: 9%;
}

.boton{
    margin-bottom: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5;
    height: 70px;
    padding: 5px;
    font-size: 30px;
}

.NavLog{
    text-decoration: none;
    color: white;
}

.Stick{
    width: 100%;
    margin-bottom: 3%;

}

.columnMedal{
    margin-top: 5%;
}

.columnMoney{
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 5%;
    margin-left: 10%;
}

.columnScore{
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: 5%;
    margin-left: 10%;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.5%;
  }
  
  .skill-bar{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }